body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: stretch;
    background-color: bisque;
    padding: 1.2rem;
    margin: 1.2rem;
}

.nav-list{
    display: flex;
    justify-content: left;
    flex-grow: 1;
}

.nav-item {
    margin: 1.2rem 1rem;
    text-align: center;
    padding: 1rem 1.2rem;
    background-color: blanchedalmond;
    border-radius: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-color: none;
}

.nav-item:hover {
    cursor: pointer;
    background-color: burlywood;
}