body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    flex: 0.9;
    background-color: lightgoldenrodyellow;
}

.nav-outer {
    display: flex;
    flex: 1;
    padding: 1.25rem;
    margin: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.nav-inner {
    display: inline-flex;
    justify-content: stretch;
    margin-right: 5px;
    padding: 0 10px;
    flex-grow: 1;
}

.nav-item {
    background-color: darkmagenta;
    border-radius: 6px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: magenta;
}