* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 20px 10px;
    margin: 10px 0;
    background-color: bisque;
}

.nav-list {
    display: flex;
    justify-content: left;
}

.nav-btn {
    margin: 3px 5px;
    background-color: green;
}

[class$="-btn"] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn {
    margin-left: auto;
}

.search-text {
    flex: 1 0 auto;
    border: none;
}
